---
import type { HTMLAttributes } from 'astro/types';
    
    interface Props extends HTMLAttributes<"button">{
        type?: "button" | "submit";
        size?: "sm" | "md" | "lg" | "off";
        isfilled?: boolean;
        offdecoration?: boolean;
        theme?:
            | "primary"
            | "danger"
            | "info"
            | "light"
            | "dark"
            | "offdecoration";
        classes?: string; 
     }

    const{
        type = "button",
        size = "md",
        isfilled,
        theme = "light",
        classes,
        offdecoration,
        ...rest
    } = Astro.props
    
    const background = `var(--${theme})`;
    const foreground = theme === "light" ? "var(--primary)" : "var(--light)";

---



<button 
    {type} 
    data-size={size} 
    class:list={[classes, {filled: isfilled }, {decoration: offdecoration}]}
    {...rest}    
> 
    <slot />
</button>



<style define:vars={{
    foreground,
    background,
}}>

    :where(button){

        font-family: "Open Sans", serif;
        
        /* resets */
        cursor: pointer;
        
        /* variaveis */
        --bkg: var(--background);
        --color: var(--foreground);

        /* default styles */
        display: flex;
        gap: 0.5em;
        align-items: center;
        background-color: var(--light);
        color: var(--bkg);
        border: 0.2em solid var(--bkg);
        padding: 0.4em 1.2em;
    }
    :where(button.filled){
        background-color: var(--bkg);
        color: var(--foreground);
        border: none;
    }
    :where(button.decoration){
        background-color: transparent;
        color: var(--bkg);
        border: none;
        padding: 0;
    }
    button:hover{
        opacity: 0.8;
    }
    [data-size="off"]{
        font-size: 1rem;
    }
    [data-size="sm"]{
        font-size: 0.8rem;
    }
    [data-size="md"]{
        font-size: 1.2rem;
    }
    [data-size="lg"]{
        font-size: 1.6rem;
    }
     
</style>