---
import FormContato from "../Form/FormContato.astro";

import Maps from "../Maps/Maps.astro";
---

<section class="contato w-[100%] flex items-center justify-center flex-col bg-orange-400 ">
    <FormContato />
    <Maps src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.098601505161!2d-46.66168291821533!3d-23.6724316108034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce454c8e2d388f%3A0x57d164235e210ee7!2sCol%C3%A3o%20S%C3%A3o%20Francisco%20de%20Assis!5e0!3m2!1spt-BR!2sbr!4v1734120757740!5m2!1spt-BR!2sbr' />
</section>