---

const parceiros = [
    {
        src: '/images/GoogleEducation.png',
        alt: 'Google Education logo',
    },
    {
        src: '/images/Kumon.png',
        alt: 'Kumon logo',
    },
    {
        src: '/images/NotasDeOuro.png',
        alt: 'NotasDeOuro logo',
    },
    {
        src: '/images/SasEducation.png',
        alt: 'SasEducation logo',
    },
    {
        src: '/images/ViaMaker.png',
        alt: 'ViaMaker logo',
    },
    {
        src: '/images/Yazigi.png',
        alt: 'Yazigi logo',
    },
    {
        src: '/images/RaiaLivre.png',
        alt: 'RaiaLivre logo',
    },
]




---



<section id="logos-572">
    <div class="cs-container">

        {parceiros.map((item) => (
                        
                <img class="cs-logo" src={`${item.src}`} alt={`${item.alt}`} width="287" height="65" loading="lazy" decoding="async" />
            
                )
            )
        }

    </div>
</section>



<script>
    import SmoothInfiniteCarousel from '../Parceiros/parceiros-class';
    
    document.addEventListener('DOMContentLoaded', () => {
        new SmoothInfiniteCarousel('logos-572', {
            speed: 200, 
            pauseOnHover: true 
        });
    });
</script>


<style type="scss">

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #logos-572 {
            /* 60px - 130px */
            display: flex;
            overflow: hidden;
            flex-direction: row;
            padding: clamp(3.75rem, 8vw, 8.125rem) calc(16 / 16 * 1rem);
            background-color: white;
    
            .cs-container {
                align-items: center;
                /* 48px - 64px */
                gap: clamp(2rem, 5vw, 4rem);
            }
    
            .cs-logo {
                width: auto;
                max-width: 60%;
                height: auto;
                margin: 0;

            }
        }
    }
    
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #logos-572 {
    
            .cs-logo {
                width: auto;
                /* the max width becomes whatever the actual width of the image is */
                max-width: 40%;
                height: auto;
                display: block;
            }
        }
    }
    
</style>