---
import NewsCard from '../Card/CardRoot.astro';

---


<section class="noticias bg-green-500 w-full h-[50dvh]">
    <NewsCard
	title="As vogais"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed aliqua. Ut enim ad minit ..."
	category="categoria"
	date="20 de OUT de 2024"
	imageUrl="../../public/images/hero-banner.jpg"
	/>
</section>