---
    import {Carousel} from '../Carousel/index.astro';


---



<div class="difereciais w-full bg-slate-200 space-y-4 p-4 overflow-hidden flex justify-center items-center flex-col">
  
    <h1 class="titulo text-center"> Difereciais </h1>

    <Carousel.Root></Carousel.Root>

</div>

