---
import NewsCard from '../Card/CardRoot.astro';

---


<section class="noticias bg-green-500 w-full h-[50dvh] flex flex-row gap-4 items-center justify-center p-10">
    <NewsCard
	title="As vogais"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed aliqua. Ut enim ad minit ..."
	category="categoria"
	date="20 de OUT de 2024"
	imageUrl="/images/hero-banner.jpg"
	/>

	<NewsCard
	title="As vogais"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed aliqua. Ut enim ad minit ..."
	category="categoria"
	date="20 de OUT de 2024"
	imageUrl="/images/banner1.jpeg"
	/>

	<NewsCard
	title="As vogais"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed aliqua. Ut enim ad minit ..."
	category="categoria"
	date="20 de OUT de 2024"
	imageUrl="/images/banner2.jpeg"
	/>

	<NewsCard
	title="As vogais"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed aliqua. Ut enim ad minit ..."
	category="categoria"
	date="20 de OUT de 2024"
	imageUrl="/images/banner3.jpeg"
	/>
</section>