---
    import CardSegmento from '../CardSegmento/CardRoot.astro';
    import Title from '../Title/Title.astro';
    const segmentos = [
        {
            title: 'Educação Infantil',
            descricao: 'Nossos alunos terminam esta etapa preparados para o ingresso no Ensino Fundamental.',
            link:'/Site/segmentos/Ensino-Fundamental',
            imgurl:'/images/segmentos/infantil.png'
        },
        {
            title: 'EF Anos Iniciais',
            descricao: 'Nossos alunos terminam esta etapa preparados para o ingresso no Ensino Fundamental.',
            link:'/Site/segmentos/Anos-Iniciais',
            imgurl:'/images/segmentos/iniciais.png'
        },
        {
            title: 'EF Anos Finais',
            descricao: 'Nossos alunos terminam esta etapa preparados para o ingresso no Ensino Fundamental.',
            link:'/Site/segmentos/Anos-Finais',
            imgurl:'/images/segmentos/finais.png'
        },
        {
            title: 'Ensino Médio',
            descricao: 'Nossos alunos terminam esta etapa preparados para o ingresso no Ensino Fundamental.',
            link:'/Site/segmentos/Ensino-Medio',
            imgurl:'/images/segmentos/medio.png'
        }
    ]
---


<section class="segmentos w-full h-[60dvh] space-y-3 p-4 flex flex-col items-center justify-center"> 

    <Title title='Segmentos'/>

    <div class="w-full h-full flex flex-row space-x-3 items-center justify-center">
        {
            segmentos.map((segmento)=>(
                <CardSegmento description={segmento.descricao} link={segmento.link} imageUrl={segmento.imgurl} title={segmento.title} />
            ))
        }
    </div>
</section>