---
import Parceiros from "../Parceiros/Parceiros.astro"
---


<section id="parceiros" class="w-full h-[50dvh] bg-white">
    <Parceiros />
</section>


<script>
    import SmoothInfiniteCarousel from '../Parceiros/parceiros-class';
    
    document.addEventListener('DOMContentLoaded', () => {
        new SmoothInfiniteCarousel('parceiros', {
            speed: 200, 
            pauseOnHover: true 
        });
    });
</script>