---
interface Props {
    id?: string;
    classes?: string;
}

const { id, classes } = Astro.props;
---

<div id={id} class={classes}>
    <slot />
</div>

<!-- arrow w-8 m-2 bg-white/80 h-20 rounded-full text-blue-500 transition-all cursor-pointer z-20 -->
