---


interface Props {
        nameClass: string;
        nameId: string;
        type?: "submit" | "reset" | "button" | null | undefined;
    }

    const { nameClass, nameId, type} : Props = Astro.props

---

<button type={type} class={nameClass} id={nameId}> 
    <slot/>
</button>