---
interface Props {
    classes?: string;
    id?: string;
}

const { id, classes } = Astro.props;
---


<div id={id} class={classes}>
    <slot />
</div>

<!-- <div id="carousel__slide" class="w-[full] h-[full] aspect-video flex flex-row overflow-hidden bg-blue-500 relative rounded- group">

    <div class="content__left informacional w-[50%] h-full flex flex-col justify-center p-12 space-y-4 z-10">
        <h1 id="slide-title" class="text-csfa_font_ text-slate-50 font-medium"></h1>
        <p id="slide-description" class="text-csfa_font_sm text-slate-100 font-normal"></p>
        <button type="button" id="slide-button" class="max-w-[10rem] flex justify-around items-center bg-white px-6 py-2 text-slate-600 cursor-pointer hover:bg-csfa_pink_500 hover:text-csfa_gray_200 transition-all group/button" style="border-radius: 6px;">
      
       </button>
    </div>

    <div id="container__image" class="content__right overflow-hidden w-[50%]" >
    
    </div>

    <div id="controls" class="hidden group-hover:flex w-full h-full absolute justify-between items-center ">
        <button id="prev__slide" class="arrow w-8 m-2 bg-white/80 h-20 rounded-full text-blue-500 transition-all cursor-pointer z-20">❮</button>
        <button id="next__slide" class="arrow w-8 m-2 bg-white/80 h-20 rounded-full text-blue-500 transition-all cursor-pointer z-20">❯</button>
    </div>

    <div id="indicators" class="indicators"></div>
    
</div> -->
