---
    import { Image } from 'astro:assets';
    import CSFA from '../../../../public/logo-cfsa.svg';
---


{/* Logo */} 

    <div>
        <Image src={CSFA} alt="Logo colégio" class="h-[70px] w-auto" />
    </div>
