---
import { Image } from 'astro:assets';
import CSFA from '../../../../public/logo-cfsa.svg';
---

<!-- Logo -->
<div class="logo-container">
  <Image 
    src={CSFA} 
    alt="Logotipo do Colégio CFSA" 
    class="logo-image" 
  />
</div>

<!-- Styles -->
<style>
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-image {
    height: 70px;
    width: auto;
  }
</style>
