---
// MapComponent.astro
interface Props {
  src: string;
  title?: string;
}

const { 
  src,
  title = "Localização"
} = Astro.props;
---

<div class="w-full max-w-6xl mx-auto flex justify-center rounded-md overflow-hidden md:py-8">
  <div class="w-full">
    <div class="aspect-w-16 aspect-h-9">
      <iframe 
        src={src}
        title={title}
        class="w-full h-full rounded-lg shadow-lg"
        style="border:0;"
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</div>

<style>
  /* Garantir que o iframe seja responsivo */
  iframe {
    max-width: 100%;
    height: auto;
  }
</style>