:root{

    /* Cores do projeto */
    /* Dark Mode */
    --csfa-clr-d-scale-blue-900:#121B3D;
    --csfa-clr-darkscaleblue-900-80:hsla(227, 54%, 15%, 0.80);
    /* Light Mode */
    --csfa-clr-l-scale-blue-300: #486EDB;
    --csfa-clr-l-scale-blue-600: #2C3C94;

    /* Assets design */
    --csfa-style-cyan-700: #08B0D1; 
    --csfa-style-pink-100:#E87EA1;
    --csfa-style-pink-700:#F6337F;
    --csfa-style-yellow-700:#FFC826;

    /* Geral Colors */
    --csfa-clr-gray-100:#F5F7F5;
    --csfa-clr-gray-200:#E0E0E0;
    --csfa-clr-gray-600:#646464;
    --csfa-clr-gray-700:#4e4e4e;
    --csfa-clr-white: #fff;
    --csfa-clr-softblack: rgb(31, 31, 31);

    /* Tamanhos de fontes */
    --csfafont-ssm: 10px;
    --csfafont-sm: 12px;
    --csfafont-lsm: 16px;
    --csfafont-smd: 18px;
    --csfafont-md: 20px;
    --csfafont-lmd: 24px;
    --csfafont-slg: 28px;
    --csfafont-lg: 32px;
    --csfafont-llg: 42px;

     /* Button themes */

    --primary: #007bff;
    --danger: #dc3545;
    --info: #6c757d;
    --light: #f8f9fa;
    --dark: #343a40;
    --offdecoration: #646464:



}


html {   
	font-family: 'Open Sans', serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
	scroll-behavior: smooth;
}

/* Material Symbol - Google Icon Assets */
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
} 

@media screen and (min-width: 1024px) {
	*::-webkit-scrollbar {
	height: 9px;
	width: 4px;
	}
	*::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: #9d9e9c00;
	}
	*::-webkit-scrollbar-track:hover {
	background-color: #66666600;
	}
	*::-webkit-scrollbar-track:active {
	background-color: #121b3d00;
	}
	*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #486EDB;
	}
	*::-webkit-scrollbar-thumb:hover {
	background-color: #486EDB;
	}
	*::-webkit-scrollbar-thumb:active {
	background-color: #486fdb00;
	}
} 